{% extends "bootstrap/base.html" %}
{% block head %}

  {{ super() }}

  <title>Elvis Lutta</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock head %}

{% block navbar %}

  <div class="navbar fixed-top navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Polos</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        {% if current_user.is_authenticated %}

          <li><a href="{{ url_for('auth.logout') }}">Sign Out</a></li>

        {% else %}

          <li><a href="{{ url_for('auth.login') }}">Sign In</a></li>

        {% endif %}
      </ul>

    </div>
  </div>
  </div>

{% endblock navbar %}

{% block content %}
  <div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}

    {% endblock page_content %}
  </div>
{% endblock content %}

{% block footer %}
  <nav class="navbar fixed-bottom navbar-light bg-faded">
    <a class="navbar-brand" href="#">Fixed bottom</a>
  </nav>
{% endblock footer %}

